<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Purchase Date Column -->
  <ng-container matColumnDef="purchaseDateString">
    <th mat-header-cell *matHeaderCellDef> Purchase Date</th>
    <td mat-cell *matCellDef="let element"> {{element.PurchaseDateString}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description</th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount</th>
    <td mat-cell *matCellDef="let element"> {{element.Amount | currency}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-mini-fab color="primary" matTooltip="Open window to add transactions"
              (click)="openDialog(element, i)" [disabled]="disabledRows.includes(i)">
        <mat-icon>launch</mat-icon>
      </button>
      &nbsp;
      <button *ngIf="disabledRows.includes(i)" mat-mini-fab color="warn" matTooltip="Unlock the row"
              (click)="enableRow(i)">
        <mat-icon>lock</mat-icon>
      </button>

      <button *ngIf="!disabledRows.includes(i)" mat-mini-fab color="warn" matTooltip="Lock the row"
              (click)="disableRow(i)">
        <mat-icon>lock_open</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Hidden Purchase Column -->
  <ng-container matColumnDef="purchaseDate">
    <td mat-cell *matCellDef="let element">{{element.PurchaseDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" id="{{'expenseRow'+i}}"
  [ngClass]="{'disabled-row': disabledRows && disabledRows.includes(i)}">
  </tr>
</table>
