<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!--(click)="sidenav.toggle()"-->
    <mat-icon>menu</mat-icon>
  </button>
  <span>YNAB Ripoff App</span>
</mat-toolbar>

<!--<main>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav opened>
      <mat-nav-list>
        <mat-list-item>
          <a></a>
          <span class="ma">Home</span>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <app-upload-csv></app-upload-csv>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>-->

<main>
  <div class="main-content">
    <app-upload-csv></app-upload-csv>
  </div>
</main>


